/**
 * PLEASE BE MIND THAT YOU COULD NOT COPY, MODIFY OR SHARE THIS PROJECT IF YOU ARE NOT GET PERMISSION.
 * @samjayhk
 */

.background {
    background: linear-gradient(-45deg, rgba(238,119,82, 0.8), rgba(231,60,126, 0.8), rgba(35,166,213, 0.8), rgba(35,213,171, 0.8));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.user-box {
    z-index: 99999999999999999;
    height: 50%;
    width: 20%;
    min-width: 308px;
    min-height: 360px;
    background: rgba(34, 34, 34, 0.8);
    margin: auto;
    display: flex;
}

.user-box > .container {
    width: 100%;
    height: 100%;
}

.user-box > .container > .title {
    font-size: 1.4em;
    color: gold;
    font-family: Open Sans Regular;
    text-align: center;
    width: 100%;
    height: 20%;
    display: flex;
    border-bottom: 1px solid white;
    text-transform: uppercase;
}

.user-box > .container > .title > div {
    margin: auto;
}

.user-box > .container > .user-input {
    display: flex;
    height: 65%;
    widows: 100%;
    border-bottom: 1px solid white;
}

.user-box > .container > .user-input > div {
    text-align: left;
    color: gold;
    font-family: Open Sans Regular;
    font-size: 1.2em;
}

.user-box > .container > .user-input > .input {
    display: inline-grid;
    margin: auto;
}

.user-box > .container > .user-input > .input-fill {
    display: inline-grid;
    margin: auto;
}

.user-box > .container > .user-input > .input-fill > input {
    border: 1px solid;
    background-color: rgba(57, 57, 57, 0.6);
    color: white;
    font-family: Open Sans Regular;
    height: 1.2rem;
    margin: .4rem;
    min-width: 12rem;
    padding: .4em;
    font-size: 0.8em;
}

.user-box > .container > .user-input > .input > input {
    background: #fff;
    border: 1px solid #d9d9d9;
    font: inherit;
    height: 1.2rem;
    margin: .4rem;
    min-width: 12rem;
    padding: .4em;
    font-size: 0.8em;
    font-family: Open Sans Regular;
    color: rgb(34, 34, 34);
}

.user-box > .container > .user-input > .input-fill > input:focus {
    outline-color: gold;
}

.user-box > .container > .user-input > .input-fill > .forgot-password {
    color: white;
    font-size: 0.8em;
    font-family: Open Sans Regular;
    text-align: center;
    cursor: pointer;
}

.user-box > .container > .user-button {
    width: 100%;
    height: 15%;
    display: flex;
}

.user-box > .container > .user-button > .btn-register {
    width: 50%;
    height: 95%;
    border-right: 1px solid white;
    display: flex;
}

.user-box > .container > .user-button > .btn-register > div {
    font-size: 1.2em;
    color:white;
    text-align: center;
    font-family: Open Sans Regular;
    margin: auto;
}

.user-box > .container > .user-button > .btn-register:hover {
    border: 1px solid gold;
    background-color: rgba(57, 57, 57, 0.6);
    cursor: pointer;
    width: 48%;
}

.user-box > .container > .user-button > .btn-login {
    width: 50%;
    height: 95%;
    border-right: 1px solid white;
    display: flex;
}

.user-box > .container > .user-button > .btn-login > div {
    font-size: 1.2em;
    color:white;
    text-align: center;
    font-family: Open Sans Regular;
    margin: auto;
}

.user-box > .container > .user-button > .btn-login:hover {
    border: 1px solid gold;
    background-color: rgba(57, 57, 57, 0.6);
    cursor: pointer;
    width: 48%;
}