<!--
/**
 * PLEASE BE MIND THAT YOU COULD NOT COPY, MODIFY OR SHARE THIS PROJECT IF YOU ARE NOT GET PERMISSION.
 * @samjayhk
 */
 -->

<div class="content" id="style-6">
    
  <!-- <div class="number"><div >Page {{thread.page}}<fa-icon [icon]="faChevronDown" class="down"></fa-icon></div></div> -->
  <div class="number">
    <div ngbDropdown class=" d-inline-block">
      <div id="dropdownBasic1" ngbDropdownToggle>Page {{thread.page}}<fa-icon [icon]="faChevronDown" class="down"></fa-icon></div>
      <!-- <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button> -->
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <!-- <button ngbDropdownItem>Action - 1</button> -->
        <ng-container *ngIf="arr(thread.sum) as page">
          <ng-container *ngFor="let p of page;" >
              <button (click)="changePage(p+1)" ngbDropdownItem>{{p+1}}</button>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="thread"  *ngIf="thread.page===1">
    <div class="container">
      <div class="box">
        <div class="top">
          <div class="left">
            <div class="id">#1</div>
            <div class="username"><fa-icon [icon]="faUser" class="icon"></fa-icon>{{thread.thread[0].username}}</div>
            <div class="days"><fa-icon [icon]="faCalendarDay" class="icon"></fa-icon>{{dateDiff(thread.thread[0].ptime)}}</div>
            <div class="tags"><fa-icon [icon]="faTag" class="icon"></fa-icon>{{thread.thread[0].tags}}</div>
          </div>
          <div class="right">
            <div class="container" (click)="editThread()">
              <fa-icon [icon]="faEdit"></fa-icon>
            </div>
            <div class="container" (click)="deleteThread()">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </div>
          </div>
        </div>
        <ng-container *ngIf="thread.thread[0].uptime!==thread.thread[0].ptime">
          <div class="uptime">last update to {{thread.thread[0].uptime | date:'medium'}}</div>
        </ng-container>
        <div class="content" [innerHTML]="ascii2native(thread.thread[0].content, true)"></div>
      </div>
    </div>
  </div>
  <div class="comment" *ngIf="thread.comment!==null">
    <ng-container *ngFor="let p of thread.comment; let i = index;" >
      <div class="container">
        <div class="box">
          <div class="top">
            <div class="left">
              <div class="id" *ngIf="thread.page===1">#{{i+(thread.page*(thread.page+3-2))}}</div>
              <div class="id" *ngIf="thread.page!==1">#{{i+(thread.page*(thread.page+3))}}</div>
              <div class="username"><fa-icon [icon]="faUser" class="icon"></fa-icon>{{p.username}}</div>
              <div class="days"><fa-icon [icon]="faCalendarDay" class="icon"></fa-icon>{{dateDiff(p.ctime)}}</div>
            </div>
            <div class="right">
              <div class="container" (click)="editComment(i, p.cid)">
                <fa-icon [icon]="faEdit"></fa-icon>
              </div>
              <div class="container" (click)="deleteComment(i, p.cid)">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </div>
            </div>
          </div>
          <ng-container *ngIf="p.uptime!==p.ctime">
            <div class="uptime">last update to {{p.uptime | date:'medium'}}</div>
          </ng-container>
          <div class="content" [innerHTML]="ascii2native(p.comment, true)"></div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="number-down">
    <div ngbDropdown class=" d-inline-block">
      <div id="dropdownBasic1" ngbDropdownToggle>Page {{thread.page}}<fa-icon [icon]="faChevronDown" class="down"></fa-icon></div>
      <!-- <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button> -->
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <!-- <button ngbDropdownItem>Action - 1</button> -->
        <ng-container *ngIf="arr(thread.sum) as page">
          <ng-container *ngFor="let p of page;" >
              <button (click)="changePage(p+1)" ngbDropdownItem>{{p+1}}</button>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
