
<div class="background">
  <user *ngIf="userView" class="user"></user>
  <div class="bkimage"></div>
  <div class="diary-grid">
    <div class="menu" *ngIf="!threadView">
      <div class="container">
          <div class="left">
            <div class="container">
              <div class="container" (click)="onUserDialog()" *ngIf="!searchView">
                <fa-icon [icon]="faBars"></fa-icon>
                <fa-icon [icon]="faPassport" class="faPassport"></fa-icon>
              </div>
              <div class="back" (click)="backFun()" *ngIf="searchView || writeView">
                  <fa-icon [icon]="faArrowLeft" class="faArrowLeft"></fa-icon>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="title" *ngIf="!searchView">
              {{title}}
            </div>
            <div class="search" *ngIf="searchView">
              <input type="search" autofocus="on" [(ngModel)]="keywords" placeholder="keywords...." required>
            </div> 
          </div>
          <div class="right">
            <div class="container">
              <div class="float">
                <div class="container" (click)="searchList()">
                  <fa-icon [icon]="faSearch"></fa-icon>
                </div>
                <div class="container" (click)="refreshList()" *ngIf="!searchView">
                  <fa-icon [icon]="faRedo"></fa-icon>
                </div>
                <div class="container" (click)="writeThread()" *ngIf="!searchView">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="threadView-menu" *ngIf="threadView">
      <div class="container">
          <div class="left">
            <div class="container">
              <div class="container" (click)="onUserDialog()">
                <fa-icon [icon]="faBars"></fa-icon>
                <fa-icon [icon]="faPassport" class="faPassport"></fa-icon>
              </div>
              <div class="back" (click)="back()">
                  <fa-icon [icon]="faArrowLeft" class="faArrowLeft"></fa-icon>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="title">
                {{title}}
            </div>
          </div>
          <div class="right">
            <div class="container">
              <div class="float">
                <div class="container" (click)="refreshThread()">
                  <fa-icon [icon]="faRedo"></fa-icon>
                </div>
                <div class="container" (click)="writeComment()">
                    <fa-icon [icon]="faCommentMedical"></fa-icon>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="float-container" *ngIf="!threadView">
      <div ngbDropdown class="d-inline-block">
        <div id="dropdownBasic1" ngbDropdownToggle>{{currentViewPage}}</div>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <ng-container *ngFor="let p of arr(currentViewPageRange);">
            <button (click)="changePage(p+1)" ngbDropdownItem>{{p+1}}</button>
          </ng-container>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>