/**
 * THIS PROJECT IS A UNIVERSITY PROJECT AND MADE BY SCHOOL FOR HIGHER AND PROFESSIONAL EDUCATION WITH COVENTRY UNIVERSITY (UK).
 * PLEASE BE MIND THAT YOU COULD NOT COPY, MODIFY OR SHARE THIS PROJECT IF YOU ARE NOT GET PERMISSION.
 * AUTHOR INFORMATION:
 * NAME: TSANG Long Fung (187107130)
 * CONTACT NUMBER: (+852) 6679 2339
 * CONTACT EMAIL: 187107130@stu.vtc.edu.hk
 */

.background {
    width: 100%;
    height: 70%;
    min-height: 70%;
    max-height: 70%;
    margin: 0 auto;
    overflow: hidden;
    margin: 80px auto auto auto;
    border-top: 1px solid rgb(59, 58, 57);
}

.container {
    width: 100%;
    display: flex;
}

.container > .btnSubmit {
    margin: 1% auto;
    font-size: 1.2em;
    color: white;
    padding: 5px 10px;
    font-family: Open Sans Regular;
}

.container > .btnSubmit:hover {
    background-color: rgba(57, 57, 57, 0.4);
    cursor: pointer;
    border: .1px solid rgb(255, 255, 255);
}

.input {
    background: white;
    height: 30px;
    width: 100%;
    display: flex;
}

.input > .tags {
    width: 15%;
    height: 100%;
    font-size: 1em;
    font-family: Open Sans Regular;
    display: flex;
}

.input > .tags > div {
    width: 100%;
}

#dropdownBasic1 {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

.input > .title {
    width: 85%;
    height: 100%;
    display: flex;
}

.input > .title > input {
    width: 100%;
    margin: auto;
    height: 82%;
    font-size: 1em;
    font-family: Open Sans Regular;
    border: none;
}